/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Color Palette */
:root {
    --red: #E93F33;
    --red-light: #FAE7E6;
    --red-pale: #FEFAF8;
    --grey: #AAAAAA;
    --grey-dark: #706F6E;
    --black: black;
}

/* Styling by Jassi for top part */

/* Styling by Kyle for middle part */
/* Latest news Section */
.center-alignment {
    margin: 0 auto;
    max-width: 1192px;
}

.hover-black:hover {
    color: var(--black);
    cursor: pointer;
}

.title-font {
    font-size: 3rem;
    color: var(--red);
    padding-left: 12px;
    margin: 40px 0 12px 0;
}

.subtitle-font {
    font-size: 1.5rem;
    width: 230.5px;
}

.normal-fontsize {
    font-size: 1.2rem;
}

.grey-font {
    color: var(--grey);
}

.hover-red-underline:hover {
    color: var(--red);
    text-decoration: underline;
    text-decoration-color: var(--red);
    cursor: pointer;
}

.responsive-4-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, 294px);
    justify-content: center;
}

.new {
    display: grid;
    grid-template-rows: 135px 59px 16px;
    padding: 12px;
    row-gap: 4px;
}

.new > img {
    width: 100%;
    height: 100%;
}

/* Latest funding section */
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.space-between > div > ul {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    list-style: none;
    color: var(--red);
    font-size: 1.6rem;
    font-weight: 200;
}

.space-between > div > ul > li {
    margin: 0 6px;
}

.funding {
    display: grid;
    grid-template-rows: 39.3px 57.3px 82.5px 69px;
    padding: 12px;
}

.funding > img {
    position: absolute;
    margin: 10.7px;
    width: 60px;
    height: 60px;
}

.bg-red {
    background-color: var(--red);
    padding: 10.67px 16px 10.67px 84px;
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
}

.bg-red-light {
    background-color: var(--red-light);
    padding: 10.67px 16px 10.67px 84px;
    font-size: 1.4rem;
}

.bold {
    font-weight: 800;
    font-size: 1.6rem;
}

.bg-red-pale {
    background-color: var(--red-pale);
    padding: 16px;
    font-size: 1.3rem;
    color: var(--grey-dark);
}

.bg-red-pale > span:hover {
    cursor: pointer;
}

.funding-details {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.funding-details > i {
    font-size: 1.6rem;
    color: var(--black);
}

.funding-details > p {
    color: var(--grey-dark);
    font-size: 1.4rem;
}

.border-btm-pink {
    border-bottom: 3px solid var(--red-light);
}

.pointer {
    cursor: pointer;
}
/* Styling by Jassi for bottom part */