/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Color Palette */
:root {
    --red: #E93F33;
    --red-light: #FAE7E6;
    --red-pale: #FEFAF8;
    --grey: #AAAAAA;
    --grey-dark: #706f6e;
    --grey-light: #e3e3e3;
    --black: black;
    --white: white;
}

/* Styling by Jassi for top part */

/* Styling by Kyle for middle part */
/* Latest news Section */
.center-alignment {
    margin: 0 auto;
    max-width: 1192px;
}

.hover-black:hover {
    color: var(--black);
    cursor: pointer;
}

.title-font {
    font-size: 3rem;
    color: var(--red);
    padding-left: 12px;
    margin: 40px 0 12px 0;
}

.subtitle-font {
    font-size: 1.5rem;
    width: 100%;
}

.normal-fontsize {
    font-size: 1.2rem;
}

.grey-font {
    color: var(--grey);
}

.hover-red-underline:hover {
    color: var(--red);
    text-decoration: underline;
    text-decoration-color: var(--red);
    cursor: pointer;
}

.hover-grey-underline:hover {
    text-decoration: underline;
    text-decoration-color: var(--grey);
    cursor: pointer;
}

.responsive-4-col {
    display: grid;
    justify-content: center;
}

.new {
    display: grid;
    grid-template-columns: 75px 1fr;
    padding: 12px;
    grid-gap: 4px;
}

.new > img {
    grid-row: span 2;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .responsive-4-col {
        display: grid;
        grid-template-columns: repeat(auto-fit, 294px);
        justify-content: center;
    }

    .new {
        display: grid;
        grid-template-rows: 135px 59px 16px;
        grid-template-columns: 1fr;
        padding: 12px;
        row-gap: 4px;
    }

    .new > img {
        grid-row: span 1;
    }

    .subtitle-font {
        font-size: 1.5rem;
        width: 230.5px;
    }
}


/* Latest funding section */
.fundings {
    display: grid;
    grid-template-columns: repeat(auto-fit, 294px);
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.space-between > div > ul {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    list-style: none;
    color: var(--red);
    font-size: 1.6rem;
    font-weight: 200;
}

.space-between > div > ul > li {
    margin: 0 6px;
}

.funding {
    display: grid;
    grid-template-rows: 39.3px 57.3px 82.5px 69px;
    padding: 12px;
}

.funding > img {
    position: absolute;
    margin: 10.7px;
    width: 60px;
    height: 60px;
}

.bg-red {
    background-color: var(--red);
    padding: 10.67px 16px 10.67px 84px;
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
}

.bg-red-light {
    background-color: var(--red-light);
    padding: 10.67px 16px 10.67px 84px;
    font-size: 1.4rem;
}

.bold {
    font-weight: 800;
    font-size: 1.6rem;
}

.bg-red-pale {
    background-color: var(--red-pale);
    padding: 16px;
    font-size: 1.3rem;
    color: var(--grey-dark);
}

.bg-red-pale > span:hover {
    cursor: pointer;
}

.funding-details {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.funding-details > i {
    font-size: 1.6rem;
    color: var(--black);
}

.funding-details > p {
    color: var(--grey-dark);
    font-size: 1.4rem;
}

.border-btm-pink {
    border-bottom: 3px solid var(--red-light);
}

.pointer {
    cursor: pointer;
}

/* Other section */
.responsive-3-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, 368px);
    justify-content: center;
}

.item {
    display: grid;
    grid-template-rows: 45px 276px 96px max-content;
    padding: 12px;
}

.item > h2 {
    padding: 0;
    margin: 0;
}

.item-title {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 45px 16px;
    align-items: flex-end;
    padding: 12px;
}

.img-1 {
    background: url('images/other-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-2 {
    background: url('images/other-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-3 {
    background: url('images/other-3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-4 {
    background: url('images/other-4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-5 {
    background: url('images/other-5.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-6 {
    background: url('images/other-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-7 {
    background: url('images/other-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-8 {
    background: url('images/other-8.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.item-title:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%, rgba(97,97,97,0.57) 36%, rgba(99,99,99,0.58) 37%, rgba(91,91,91,0.69) 44%, rgba(69,69,69,0.79) 62%, rgba(0,0,0,0.93) 87%, rgba(0,0,0,1) 100%);
}

.item-title > h5{
    font-size: 1.8rem;
    color: white;
    z-index: 2;
}

.item-title > p {
    z-index: 2;
    font-size: 1.2rem;
}

.font-white {
    color: var(--white);
}

.item-subtitle {
    display: grid;
    grid-template-columns: 1fr 96px;
    background-color: var(--red-light);
    color: var(--red);
}

.item-subtitle > div {
    padding: 14px;
}

.item-subtitle > div > p:first-child {
    font-size: 1.3rem;
}

.item-subtitle > div > p:nth-child(2) {
    width: 170px;
    font-size: 1.3rem;
    font-weight: 800;
}

.item-subtitle > img {
    height: 100%;
    width: 100%;
}

.item > ul {
    padding: 12px;
    list-style: none;
}
.item > ul > li {
    color: var(--grey-dark);
    font-size: 1.3rem;
    border-bottom: 1px solid var(--grey-light);
    padding: 4px 0;
}

.item > ul > li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/* Latest Deals Section */
.deal {
    display: grid;
    grid-template-columns: 75px 1fr;
    padding: 12px;
    grid-gap: 4px;
}

.deal > img {
    grid-row: span 2;
    width: 100%;
    height: 100%;
}

.space-between > p {
    color: var(--red);
    font-size: 1.6rem;
    font-weight: 200;
    padding-right: 12px;
}

@media (min-width: 768px) {
    .deal {
        display: grid;
        grid-template-rows: 201px 39px 26px;
        grid-template-columns: 1fr;
        padding: 12px;
        row-gap: 4px;
    }

    .deal > img {
        grid-row: span 1;
    }

    .subtitle-font {
        font-size: 1.5rem;
        width: 100%;
    }
}

.deal-price {
    font-size: 1.4rem;
}

/* Styling by Jassi for bottom part */